<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml
<!-- 			/WEB-INF/spring/security-context.xml -->
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 한글 인코딩 Start -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 한글 인코딩 End -->
	
<!-- 	 스프링 SECURITY 필터  -->
<!-- 	<FILTER> -->
<!--         <FILTER-NAME>SPRINGSECURITYFILTERCHAIN</FILTER-NAME> -->
<!--         <FILTER-CLASS> ORG.SPRINGFRAMEWORK.WEB.FILTER.DELEGATINGFILTERPROXY </FILTER-CLASS> -->
<!--     </FILTER>                                 -->
<!--     DELEGATINGFILTERPROXY서버가 돌아가면서 스프링시큐리티에서 처리를 하게 함 -->
<!--     <FILTER-MAPPING> -->
<!--         <FILTER-NAME>SPRINGSECURITYFILTERCHAIN</FILTER-NAME> -->
<!--         <URL-PATTERN>/*</URL-PATTERN> -->
<!-- 		 "/*" 는 모든 요청이라는 의미이고, 모든 요청시에는 DELEGATINGFILTERPROXY라는 스프링 시큐리티필터를 한번 거쳐서 --> 
<!--     </FILTER-MAPPING> -->
<!--     스프링 시큐리티에서 사용하는 세션 이벤트 처리 관련 리스터 세션 만료 체크, 동시 로그인 제한 등의 기능 제공 -->
<!--     <LISTENER> -->
<!--         <LISTENER-CLASS> -->
<!-- 			ORG.SPRINGFRAMEWORK.SECURITY.WEB.SESSION.HTTPSESSIONEVENTPUBLISHER -->
<!-- 		</LISTENER-CLASS> -->
<!--     </LISTENER> -->
    
<!--     세션 타임아웃 설정 -->
<!--     <SESSION-CONFIG> -->
<!--         <SESSION-TIMEOUT>20</SESSION-TIMEOUT> -->
<!--     </SESSION-CONFIG> -->
</web-app>
