<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
	<insert id="register" parameterType="com.mayfarm.security.vo.UserVO">
		INSERT INTO users(id, passwd, name, enabled)
		VALUES (#{id}, #{passwd}, #{name}, 1)
	</insert>
</mapper>